.footer {
  background-color: #f8f8f8;
  padding: 40px 0px 0px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.logo {
  width: 150px;
  height: auto;
}

.social-icons {
  display: flex;
  gap: 25px;
  margin-top: 10px;
  font-size: 17px;
}

.footer-section h3 {
  color: #333;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #666;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section p {
  margin: 5px 0;
  color: #666;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 0.9em;
}
